# -----------------------
# Base Dart/Flutter
# -----------------------

# Carpetas creadas por Dart/Flutter
.dart_tool/
.packages
build/

# pubspec.lock: opcional según si es app o package
pubspec.lock

# Documentación generada
doc/api/

# Variables de entorno
.env*

# Archivos JS generados
*.dart.js
*.info.json
*.js
*.js_
*.js.deps
*.js.map

# Flutter plugins generados
.flutter-plugins
.flutter-plugins-dependencies

# -----------------------
# IDE / Editor
# -----------------------
.idea/
*.iml
.vscode/

# -----------------------
# Android
# -----------------------
**/android/local.properties
**/android/app/*.keystore
**/android/app/*.jks

# -----------------------
# iOS
# -----------------------
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Pods/
**/ios/Runner.xcworkspace
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.podspec

# -----------------------
# Desktop Platforms
# -----------------------
# Windows
**/windows/runner/
**/windows/Flutter/

# macOS
**/macos/Runner/
**/macos/Flutter/

# Linux
**/linux/
**/linux/flutter/
**/linux/runner/

# -----------------------
# Otros archivos generados / temporales
# -----------------------
*.log
*.lock
*.swp
*.DS_Store